.main_multy_title{
    display: flex;
    height: 86px;
    flex-direction: column;
    justify-content: flex-end;
    padding:0 16px 15px;
    background: $white;
    p{
        font-size: 14px;
        line-height: 1.43;
        color: $gray2;
    }
    h2{
        font-size: 18px;
        font-weight:$fw-bold;
        line-height: 1.44;
        color: $gray2;
    }
}